# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/.nyc_output/
/dist/
/node_modules/
npm-debug.log*

# dependencies
/node_modules

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
